.bg-img-section1 {
  background-image: url('../../../../../assets/images/img-section.jpg');
  background-repeat: no-repeat;
  background-size: 300% 100%;
  overflow: visible;
}

.bg-img-section4 {
  background-image: url('../../../../../assets/images/img-sectiond.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
