.bars-div {
  height: 32px;
  margin: auto;
  position: relative;
  width: 40px;
}

.top-bar {
  color: rgba(237, 147, 31, 1) !important;

  @media (min-width: 768px) {
    translate: 335% 0%;
    font-size: 16px !important;
  }
}

.responsive-phone-icon {
  width: 32px;
  height: 32px;

  @media (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.responsive-div1 {
  justify-content: center;
  translate: -24% 0%;

  @media (min-width: 768px) {
    width: 11%;
    translate: 196% 0%;
  }
}

.responsive-div2 {
  background-color: rgba(237, 147, 31, 1);
  translate: 68% 0%;
  z-index: -1;

  @media (min-width: 768px) {
    translate: 0% 0%;
  }
}

.responsive-div3 {
  justify-content: center;
  translate: 0% 0%;

  @media (min-width: 768px) {
    translate: -58% 0%;
  }
}

.menu-icon {
  z-index: 0;

  @media (min-width: 768px) {
    z-index: -10;
  }
}

.menu {
  text-decoration: none !important;
  z-index: -10;
  height: 0;
  width: 0;

  @media (min-width: 768px) {
    height: auto;
    width: auto;
    z-index: 0;
    translate: 44% 0%;
  }
}

.menu-items {
  
  @media (min-width: 768px) {
    text-decoration: none !important;
  }
}

.sidebar-menu {
  text-decoration: none !important;
  padding: 16px 20%;
  border-bottom: black 1px solid;
  width: 70%;
  display: flex;
  justify-content: center !important;
  align-items: center  !important;
}